@font-face {
  font-family: "iconfont"; /* Project id 2625621 */
  src: url("iconfont.woff2?t=1624343067764") format("woff2"),
    url("iconfont.woff?t=1624343067764") format("woff"),
    url("iconfont.ttf?t=1624343067764") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e6cc";
}

.icon-biaoqing:before {
  content: "\e612";
}

.icon-dianzan:before {
  content: "\e627";
}
